<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="graphqlConfigurationLoader" class="de.terrestris.geoserver.graphql.ConfigurationLoader">
    <constructor-arg ref="geoServer"/>
  </bean>

  <bean id="graphqlController" class="de.terrestris.geoserver.graphql.web.GraphqlController">
    <property name="config" ref="graphqlConfigurationLoader"/>
  </bean>

  <bean id="graphqlTab" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="graphql"/>
    <property name="titleKey" value="GraphQL.page.title"/>
    <property name="descriptionKey" value="GraphQL.page.description"/>
    <property name="componentClass" value="de.terrestris.geoserver.graphql.web.GraphqlPanel"/>
  </bean>

</beans>
